<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head_input(title)">
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!--    <script type="text/javascript" src="dist/js/tabulator.min.js"></script>-->
    <script type="text/javascript" th:src="@{/js/common/const.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
<!--    <link th:href="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.css}"/>-->
<!--    <link th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<!--    <link href="dist/css/tabulator.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../../static/css/common/common.css" th:href="@{/css/common/common.css}" />
</head>
<body>
    <div th:fragment="change-quantity(buyQuantity, quantity)" class="change-quantity">
        <div id="decrease-btn">-</div>
        <input type="text" class="buy-quantity" name="buy-quantity" th:value="${buyQuantity}">
        <div id="increase-btn">+</div>
        <span id="over-quantity" class="hide d-none" th:text="'You can\'t buy more than ' + ${quantity} + ' products'"></span>
    </div>
    <div th:fragment="common-redirect-form">
        <form method="post" th:action="@{/}" id="common-redirect-form"></form>
    </div>
    <div th:fragment="overlay" class="overlay"></div>

    <div th:fragment="category-select-fragment" class="category-select-fragment form-row">
        <div class="custom-select-div col-3 form-group">
            <span for="category-select">Category</span>
            <select class="custom-select" id="category-select" th:field="*{categoryId}">
                <option value="0" selected disabled text="category"></option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </div>
        <div class="custom-select-div2 col-3 form-group">
            <span for="sub-category-select">Sub category</span>
            <select class="custom-select" id="sub-category-select" th:field="*{subCategoryId}">
                <option class="hide"
                        th:each="subCategory : ${subCategories}"
                        th:value="${subCategory.id}"
                        th:text="${subCategory.name}"
                        th:attr="data-categoryId=${subCategory.categoryId}"></option>
            </select>
        </div>
    </div>
</body>
</html>