<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Order</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>
<main>
	<div class="container-fluid">
		<div class="row">
			<th:block th:include="/common/_transporter-sidebar-menu"></th:block>
			<div class="col-lg-8">
				<div class="row mb-lg-4">
					<h3 class="text-lg-left mt-lg-2">My orders</h3>
				</div>
				<div th:replace="fragments/template :: display-error-message"/>
				<table class="table table-bordered table-hover" id="dtBasicExample">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Code order</th>
						<th scope="col">Order date</th>
						<th scope="col">Order status</th>
						<th scope="col">Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="order,iStat  : ${orderFormList}">
						<th scope="row" th:text="${iStat.count}"></th>
						<td><a th:text="${order.orderDspId}"
						       th:href="@{/admin/order/detail(orderId = ${order.id})}"></a></td>
						<td th:text="${order.orderDate}"></td>
						<td th:text="${order.orderStatus}"></td>
						<td class="d-flex">
							<form th:action="@{/transporter/order/update}" method="post" th:object="${orderForm}"
							      class="mr-1">
								<input type="hidden" name="id" th:value="${order.id}">
								<input type="hidden" name="orderDspId" th:value="${order.orderDspId}">
								<input type="hidden" name="orderStatus" value="DELIVERING">
								<button type="submit" class="btn btn-primary"
								        th:classappend="${order.orderStatus ne 'READY'}?'disabled btn-outline-primary':''">
									<i class="fas fa-shipping-fast mr-1"></i>
									Deliver
								</button>
							</form>
							<!--						<a type="submit" class="btn btn-primary" role="button"-->
							<!--						   th:href="@{/transporter/order/update(id=${order.id}, orderDspId=${order.orderDspId}, orderStatus='DELIVERING')}"-->
							<!--						   th:classappend="${order.orderStatus ne 'READY'}?'disabled btn-outline-primary':''">Deliver</a>-->
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
<th:block th:include="/common/_footer"></th:block>
</body>
</html>