<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Add category</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>
<main>
	<div class="container-fluid">
		<div class="row">
			<th:block th:include="/common/_admin-sidebar-menu"></th:block>
			<div class="col-lg-8">
				<div class="row mb-4">
					<h3 class="text-lg-left mt-lg-2">Add Subcategory</h3>
				</div>
				<div th:replace="fragments/template :: display-error-message"/>
				<form th:object="${subCategoryForm}" th:action="@{/admin/category/add}" method="post">
					<div class="form-row">
						<div class="custom-select-div col-3 form-group">
							<label for="category-select">Category</label>
							<select class="custom-select" id="category-select" th:field="*{categoryId}">
								<option value="0" selected disabled text="category"></option>
								<option th:each="category : ${categories}"
								        th:value="${category.id}"
								        th:text="${category.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="custom-select-div2 col-3 form-group">
							<label for="sub-category-name-input">Subcategory</label>
							<input id="sub-category-name-input" type="text" class="form-control"
							       placeholder="Enter sub-category" th:field="*{name}"
							       th:classappend="${(#fields.hasErrors('name')?'is-invalid':'')
                               + (!#fields.hasErrors('name') and subCategoryForm.isSubmitted() ? 'is-valid':'')}">
							<label class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
							       th:errors="*{name}"></label>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-lg-6">
							<label for="sub-category-desc-input">Description</label>
							<textarea id="sub-category-desc-input" type="text" class="form-control"
							          placeholder="Enter description" th:field="*{description}"
							          th:classappend="${(#fields.hasErrors('description')?'is-invalid':'')
                               + (!#fields.hasErrors('description') and subCategoryForm.isSubmitted() ? 'is-valid':'')}"></textarea>
							<label class="invalid-feedback" th:if="${#fields.hasErrors('description')}"
							       th:errors="*{description}"></label>
						</div>
					</div>
					<button type="submit" class="btn btn-primary spinner-btn" text="Add"></button>
				</form>
			</div>
		</div>
	</div>
</main>
<th:block th:include="/common/_footer"></th:block>
</body>
</html>