<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Add product</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>
<main>
	<div class="container-fluid">
		<div class="row">
						<div class="col-lg-2"></div>
<!--			<th:block th:include="/common/_admin-sidebar-menu"></th:block>-->
			<div class="col-lg-8">
				<div class="row mb-4">
					<h3 class="text-lg-left mt-lg-2">Add Product</h3>
				</div>
				<form th:action="@{/admin/product/add/detail}" th:object="${productForm}" th:method="POST"
				      enctype="multipart/form-data">
					<div th:replace="fragments/template :: admin-detail-product-input"></div>
					<hr class="my-4">
					<div th:replace="fragments/template :: product-image-upload"></div>
					<div class="container my-5">
						<button type="submit" class="btn btn-primary spinner-btn">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<th:block th:include="/common/_footer"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/admin/addProductDetail.js}"></script>
<link rel="stylesheet" href="../../static/css/vendor/addProductDetail.css"
      th:href="@{/css/vendor/addProductDetail.css}"/>
</html>