<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Edit product</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-1"></div>
<!--			<th:block th:include="/common/_admin-sidebar-menu"></th:block>-->
			<div class="col-lg-10">
				<div class="row mb-4">
					<h3 class="text-lg-left mt-lg-2">Product Manager</h3>
				</div>
				<div class="row mb-2">
					<div class="col-3">
						<p>Product(s): <span id="countProduct" th:text="${countProduct}"></span></p>
					</div>
					<div class="col-3">
						<p>Deactivate Product(s): <span id="countDeactivateProduct" th:text="${countDeactivateProduct}"></span></p>
					</div>
				</div>
<!--				<div th:replace="fragments/template :: display-error-message"/>-->
				<div th:replace="fragments/template :: category-select-fragment"></div>
				<div th:replace="fragments/template :: search-bar-custom"></div>
				<div class="form-row">
					<div class="form-check-inline">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="all" checked>
						<label class="form-check-label" for="exampleRadios1">
							All
						</label>
					</div>
					<div class="form-check-inline">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="deactivated">
						<label class="form-check-label" for="exampleRadios2">
							Deactivated
						</label>
					</div>
					<div class="form-check-inline">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="active">
						<label class="form-check-label" for="exampleRadios2">
							Activated
						</label>
					</div>
				</div>
				<div id="content">
					<div th:replace="fragments/template :: table-product-admin-custom"></div>
				</div>
			</div>
		</div>
	</div>
</main>
<th:block th:include="/common/_footer"></th:block>
<form method="get" th:action="@{/admin/product/view/list}" id="reload"></form>
</body>
<script type="text/javascript" th:src="@{/js/admin/allProduct.js}"></script>
</html>