<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
    <title>Order</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>

<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="row">
        <div class="col-lg-8">
            <h2 class="d-block text-lg-center">Order history</h2>
        </div>
    </div>
    <div class="row">
        <th:block th:include="/common/_customer-sidebar-menu"></th:block>
        <div class="col-lg-8">
            <div th:replace="fragments/template :: display-error-message"/>
            <table  class="table table-bordered" id="dtBasicExample">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Code order</th>
                        <th scope="col">Order date</th>
                        <th scope="col">Total amount</th>
                        <th scope="col">Order status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order,iStat  : ${orderFormList}">
                        <th scope="row" th:text="${iStat.count}"></th>
                        <td ><a th:text="${order.orderDspId}" th:href="@{/customer/order/detail(orderId = ${order.id})}"></a></td>
                        <td th:text="${order.orderDate}"></td>
                        <td class="bill-total money" th:text="${order.billTotal}"></td>
                        <td th:text="${order.orderStatus}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>