<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})"></head>
<title>Cart</title>
<body>
<th:block th:include="/common/_header"></th:block>
<script type="text/javascript" th:src="@{/js/customer/cartPage.js}"></script>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/customer/cartPage.css}" href="../../css/customer/cartPage.css">
<h2>Cart</h2>
<div class="container">
    <div class="row">
        <div class="col-xl-9">
            <div><span th:text="'(' + ${cartInfoForm.getQuantityTotal()} + 'products)'"></span></div>
            <form th:action="@{/customer/order}" method="POST" th:unless="${cartInfoForm.getQuantityTotal() == 0}">
                <div th:each="cartLine : ${cartInfoForm.cartLines}" class="row">
                    <div class="col-xl-6">
                        <div th:text="*{cartLine.productForm.productName}"></div>
                    </div>
                    <div class="col-xl-2">
                        <div>
                            <strong class="money price" th:text="*{cartLine.productForm.price}"></strong>
                        </div>
                        <div class="text-decoration-line-through">
                            <span class="money list-price" th:text="*{cartLine.productForm.listPrice}"></span>
                        </div>
                    </div>
                    <div class="col-xl-2 change-quantity btn-group">
                        <div id="decrease-btn" class="btn btn-minus"
                             th:onclick="|javascript:minus(*{cartLine.buyQuantity}, *{cartLine.productForm.quantity}, *{cartLine.id})|">
                            -
                        </div>
                        <input type="text" class="buy-quantity"
                               th:classappend="'edit'+*{cartLine.id}" name="buy-quantity"
                               th:value="*{cartLine.buyQuantity}"
                               th:onchange="|javascript:change(*{cartLine.id})|">
                        <div id="increase-btn" class="btn btn-plus"
                             th:onclick="|javascript:plus(*{cartLine.buyQuantity}, *{cartLine.productForm.quantity}, *{cartLine.id})|">
                            +
                        </div>
                        <span id="over-quantity" class="hide d-none" th:text="'You can\'t buy more than ' + ${cartLine.productForm.quantity} + ' products'"></span>
                    </div>
                    <div class="change-quantity col-xl-2 btn"  th:onclick="|javascript:remove(*{cartLine.id})|">Remove</div>
                    <input type="hidden" name="carLineId" id="cartLineId" th:value="*{cartLine.id}">
                    <input type="hidden" name="quantity" id="quantity" th:value="*{cartLine.productForm.quantity}">
                </div>
                <button id="order-btn" >Make order</button>
<!--                <div id="tblCartPage"></div>-->
            </form>
            <div class="align-content-center overflow-auto" th:if="${cartInfoForm.getQuantityTotal()} == 0">
                <div class="mh-50"><p text="Cart is empty"></p></div>
                <div class="mh-50"><a text="Continue shopping" th:href="@{/}"></a></div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="money" th:text="'Total listing price:' + ${cartInfoForm.getListPriceTotal()}"></div>
            <div class="money" th:text="'Discount: ' + ${cartInfoForm.getBillTotal() - cartInfoForm.getListPriceTotal()}"></div>
            <div class="money" th:text="'Total:' + ${cartInfoForm.getBillTotal()}"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/template::common-redirect-form"></div>
<div th:replace="fragments/template::overlay"></div>
<script type="text/javascript" th:inline="javascript">
    const cartInfoForm = [[${cartInfoForm.cartLines}]];
    var totalQuantity = [[${cartInfoForm.getQuantityTotal()}]];
</script>
</body>
</html>