<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Comment</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>

<div class="container">
	<div class="row">
		<div class="col-lg">
			<h2>Comment</h2>
		</div>
	</div>
	<div class="row">
		<th:block th:include="/common/_customer-sidebar-menu"></th:block>
		<div class="col-lg-9">
			<div th:replace="fragments/template :: display-error-message"/>
			<form th:action="@{/customer/comment/save}" method="post" th:object="${commentForm}">
				<div class="form-group">
					<label for="rating">Rating</label>
					<input class="form-control" id="rating" type="hidden" class="rating" name="rating"/>
				</div>
				<div class="form-group">
					<label for="rating">Rating</label>
					<textarea id="content" placeholder="Enter comment" name="content"></textarea>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
</html>