<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Order</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8">
			<h2 class="d-block text-lg-center">My favorite</h2>
		</div>
	</div>
	<div class="row">
		<th:block th:include="/common/_customer-sidebar-menu"></th:block>
		<div class="col-lg-8">
			<div th:replace="fragments/template :: display-error-message"/>
			<div class="row" th:each="product,iStat  : ${favoriteFormList}">
				<div class="col-6">
					<div class="d-flex">
						<img class="img-thumbnail mr-2" style="height: 60px"
						     th:src="@{'data:image/jpeg;base64,'+${product.generateBase64Image()}}"/>
						<div>
							<p>
								<a th:text="${product.productName}"
								   th:href="@{/product/view/detail(productId = ${product.productId})}"></a>
							</p>
							<p>
								Provided by
								<a th:href="@{/}"><strong th:text="${product.vendorName}"></strong></a>
								<!--TODO: vendorPage-->
							</p>
							<p>
								<a th:href="@{/customer/favorite/remove(id = ${product.favoriteId})}">
									<span><i class="fas fa-times"></i></span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<p class="money" th:text="${product.price}"></p>
					<p class="money" th:text="${product.listPrice}"></p>
					<p class="text-danger" th:if="${product.quantity <= 0}" th:text="This product is out of stock!"></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>