<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})"></head>
<body>
<th:block th:include="/common/_header"></th:block>
<script type="text/javascript" th:src="@{/js/customer/cartPage.js}"></script>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/customer/cartPage.css}" href="../../css/customer/cartPage.css">
<h2>Cart</h2>
<span th:text="'Order (' + ${cartInfoForm.getQuantityTotal()} + 'products)'"></span>
<form th:action="@{customer/createOrder}" method="POST">
    <div><span>Payment method: </span></div>
    <table th:each="cartLine : ${cartInfoForm.cartLines}">
        <tbody>
        <tr>
            <td>
                <div>
                    <strong th:text="*{cartLine.buyQuantity  + 'x '}"></strong>
                    <a th:href="@{/viewProductDetail(productId = ${cartLine.productForm.productId}, vendorId = ${cartLine.productForm.vendorId})}"
                       th:text="*{cartLine.productForm.productName}"></a>
                </div>
                <span>Provided by <strong th:text="*{cartLine.productForm.vendorName}"></strong></span>
            </td>
            <td>
                <div th:text="*{cartLine.productForm.price}"></div>
            </td>
            <input type="hidden" name="carLineId" id="cartLineId" th:value="*{cartLine.id}">
            <input type="hidden" name="quantity" id="quantity" th:value="*{cartLine.productForm.quantity}">
        </tr>
        </tbody>
    </table>
    <input type="button" value="Make order">
</form>
<div th:text="'Total:' + ${cartInfoForm.getBillTotal()}"></div>

<div th:replace="fragments/template::common-redirect-form"></div>
<div th:replace="fragments/template::overlay"></div>
<script type="text/javascript" th:inline="javascript">
    const cartInfoForm = [[${cartInfoForm.cartLines}]];
</script>
</body>
</html>