<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
    <title>Update Personal Infomation</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>

<h2>Update Personal Information</h2>
<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>
<div th:if="${message != null}"
     th:utext="${message}" class="message">...</div>

<form name="update_user" th:object="${user_update_form}" th:action="@{/updateUser}" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><div th:text="*{userName}"></div></td>
            <td><input type="hidden" th:field="*{userName}" th:value="*{userName}"></td>
        </tr>
        <tr>
            <td>Fullname</td>
            <td><input type='text' th:field="*{fullName}" th:value="*{fullName}"></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input th:field="*{email}" type='text' th:value="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
    </table>
    <button type="submit" th:text="Update"></button>
</form>
</body>
</html>