<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
    <title>User Page</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>
<main class="my-5 py-5">
    <div class="container-fluid">
        <div class="row">
            <th:block th:include="/common/_customer-sidebar-menu"></th:block>
            <div class="col-lg-9">
                <div class="container">
                    <div class="row">
                        <div th:replace="fragments/template :: display-error-message"/>
                    </div>
                </div>
            </div>
<!--<form th:action="@{/j_spring_security_logout}" method="post">-->
<!--&lt;!&ndash;    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />&ndash;&gt;-->
<!--    <input type="submit" value="Logout" />-->
<!--</form>-->
        </div>
    </div>
</main>
</body>
</html>