<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.AddressMapper">
    <select id="getAllProvince" resultType="com.project.ecommerce.dto.ProvinceDto" fetchSize="200">
        SELECT * FROM province
    </select>

    <select id="getAllDistrict" resultType="com.project.ecommerce.dto.DistrictDto" fetchSize="200">
        SELECT * FROM district
        <where>
            <if test="provinceId != null">
                AND _province_id = #{provinceId}
            </if>
        </where>
        ORDER BY _province_id, _prefix, _name
    </select>

    <select id="getAllWard" resultType="com.project.ecommerce.dto.WardDto" fetchSize="200">
        SELECT * FROM ward
        <where>
            <if test="provinceId != null">
                AND _province_id = #{provinceId}
            </if>
            <if test="districtId != null">
                AND _district_id = #{districtId}
            </if>
        </where>
        ORDER BY _province_id, _district_id, _prefix, _name
    </select>
</mapper>