<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.CategoryMapper">
    <select id="getAllCategory" resultType="com.project.ecommerce.dto.CategoryDto" fetchSize="200">
        SELECT * FROM category
    </select>

    <select id="getALLSubCategory" resultType="com.project.ecommerce.dto.SubCategoryDto" fetchSize="200">
        SELECT * FROM sub_category
    </select>

    <insert id="addSubCategory" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO sub_category
        (name, category_id, description)
        VALUES
        (#{name,jdbcType=VARCHAR},
        #{categoryId,jdbcType=INTEGER},
        #{description,jdbcType=VARCHAR});
    </insert>

    <select id="findCategory" resultType="com.project.ecommerce.dto.CategoryDto">
        SELECT * FROM category WHERE id = #{categoryId}
    </select>

    <select id="findSubCategory" resultType="com.project.ecommerce.dto.SubCategoryDto">
        SELECT * FROM sub_category WHERE id = #{subCategoryId}
    </select>
</mapper>