<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.CustomerAddressMapper">
    <select id="getAllAddressByCustomerId" resultType="com.project.ecommerce.dto.CustomerAddressDto" fetchSize="200">
        SELECT * FROM customer_info WHERE customer_id = #{customerId}
    </select>

    <select id="getAddressById" resultType="com.project.ecommerce.dto.CustomerAddressDto" fetchSize="200">
        SELECT * FROM customer_info WHERE id = #{id}
    </select>

    <insert id="insertAddress" parameterType="com.project.ecommerce.dto.CustomerAddressDto" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO customer_info
        (customer_id, fullname, phone_number, provinceId, districtId, wardId, address_detail, province, district, ward,isDefault)
        VALUES
        (#{customerId, jdbcType=BIGINT},
         #{fullName,jdbcType=VARCHAR},
         #{phoneNumber,jdbcType=VARCHAR},
         #{provinceId,jdbcType=BIGINT},
         #{districtId,jdbcType=BIGINT},
         #{wardId,jdbcType=BIGINT},
         #{addressDetail,jdbcType=VARCHAR},
         #{province, jdbcType=VARCHAR},
         #{district, jdbcType=VARCHAR},
         #{ward,jdbcType=VARCHAR},
         #{isDefault,jdbcType=INTEGER})
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <update id="updateAddress" parameterType="com.project.ecommerce.dto.CustomerAddressDto">
        UPDATE customer_info
        SET
            fullname = #{fullName},
            phone_number = #{phoneNumber},
            provinceId = #{provinceId},
            districtId = #{districtId},
            wardId = #{wardId},
            address_detail = #{addressDetail},
            province = #{province},
            district = #{district},
            ward = #{ward}
        WHERE id = #{id}
    </update>

    <delete id="deleteAddress" parameterType="Long">
        DELETE FROM customer_info WHERE id = #{id}
    </delete>

    <delete id="deleteALLAddressByUser" parameterType="Long">
        DELETE FROM customer_info WHERE customer_id = #{customerId}
    </delete>

    <select id="getDefaultAddress" resultType="com.project.ecommerce.dto.CustomerAddressDto">
        SELECT * FROM customer_info
        WHERE customer_id = #{customerId}
          AND isDefault = 1
    </select>

    <update id="setDefault">
        UPDATE customer_info
        SET isDefault = 1
        WHERE id = #{id}
    </update>

    <update id="clearDefault">
        UPDATE customer_info
        SET isDefault = 0
        WHERE id = #{id}
    </update>

    <update id="updateDefault">
        UPDATE customer_info
        SET isDefault = 0
        WHERE id != #{id}
    </update>

    <select id="countAddress" resultType="int">
        SELECT count(*) FROM customer_info
        WHERE customer_id = #{customerId}
    </select>
</mapper>