<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.LoginMapper">

    <select id="findAllUser" resultType="com.project.ecommerce.dto.UsersDto" fetchSize="200">
        SELECT * FROM users
    </select>

    <select id="findUserByName" resultType="com.project.ecommerce.dto.UsersDto" fetchSize="200">
        SELECT * FROM users WHERE username = #{user_name}
    </select>
</mapper>

