<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.OrderMapper">
    <insert id="createOrder" parameterType="com.project.ecommerce.dto.OrderDto" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO orders
        (customerId, billTotal, order_status, deliveryAddress, note, fullName, phoneNumber, shippingFee, orderDspId, transporterId)
        VALUES
        (#{customerId, jdbcType=BIGINT},
         #{billTotal,jdbcType=BIGINT},
         #{orderStatus,jdbcType=VARCHAR},
         #{deliveryAddress,jdbcType=VARCHAR},
         #{note,jdbcType=VARCHAR},
         #{fullName,jdbcType=VARCHAR},
         #{phoneNumber,jdbcType=VARCHAR},
         #{shippingFee,jdbcType=BIGINT},
         #{orderDspId,jdbcType=VARCHAR},
         #{transporterId,jdbcType=BIGINT})
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <insert id="createOrderDetail" parameterType="com.project.ecommerce.dto.OrderDetailDto">
        INSERT INTO order_products
            (orderId, productId, vendorId, buyQuantity, price, productName)
        VALUES
        (#{orderId, jdbcType=BIGINT},
         #{productId,jdbcType=BIGINT},
         #{vendorId,jdbcType=BIGINT},
         #{buyQuantity,jdbcType=BIGINT},
         #{price,jdbcType=BIGINT},
         #{productName,jdbcType=VARCHAR})
    </insert>

    <select id="getOrderListCustomer" resultType="com.project.ecommerce.dto.OrderDto" fetchSize="200">
        SELECT * FROM orders
        WHERE customerId = #{customerId}
        ORDER BY orderDate DESC
    </select>

    <select id="getOrderProductList" resultType="com.project.ecommerce.dto.OrderDetailDto">
        SELECT * FROM order_products
        WHERE orderId = #{orderId}
    </select>

    <select id="getOrderDetailCustomer" resultType="com.project.ecommerce.dto.OrderDto">
        SELECT * FROM orders
        WHERE id = #{orderId}
    </select>

    <update id="updateOrderStatus" parameterType="com.project.ecommerce.dto.OrderDto">
        UPDATE orders
        SET order_status = #{orderStatus}
        <if test="orderStatus == 'SUCCESS'">
            , deliveryDate = #{deliveryDate}
        </if>
        WHERE id = #{id}
    </update>

    <select id="getOrderList" resultType="com.project.ecommerce.dto.OrderDto" fetchSize="200">
        SELECT * FROM orders
        <where>
            <if test="orderStatus != null and orderStatus != ''">
                AND order_status = #{orderStatus}
            </if>
            <if test="transporterId != null and transporterId != ''">
                AND transporterId = #{transporterId}
            </if>
        </where>
        ORDER BY orderDate DESC
    </select>

    <select id="getOrderListTransporter" resultType="com.project.ecommerce.dto.OrderDto" fetchSize="200">
        SELECT * FROM orders
        WHERE transporterId = #{transporterId}
        AND (order_status = 'READY'
            OR order_status = 'DELIVERING'
            OR order_status = 'SUCCESS')
        ORDER BY orderDate DESC
    </select>

    <select id="totalIncomeLast30Days" resultType="Long" parameterType="Long">
        SELECT COALESCE(SUM(buyQuantity*price),0)
        FROM order_products inner join orders o on order_products.orderId = o.id
        WHERE vendorId = #{vendorId}
          AND deliveryDate > DATE_SUB(now(), INTERVAL 30 DAY)
          AND order_status = 'SUCCESS'
    </select>

    <select id="totalIncome" resultType="Long" parameterType="Long">
        SELECT COALESCE(SUM(buyQuantity*price),0)
        FROM order_products inner join orders o on order_products.orderId = o.id
        WHERE vendorId = #{vendorId}
          AND order_status = 'SUCCESS'
    </select>

    <select id="todayIncome" resultType="Long" parameterType="Long">
        SELECT COALESCE(SUM(buyQuantity*price),0)
        FROM order_products inner join orders o on order_products.orderId = o.id
        WHERE vendorId = #{vendorId}
          AND DATE(deliveryDate) = CURRENT_DATE
          AND order_status = 'SUCCESS'
    </select>

    <select id="soldProduct" parameterType="Long" resultType="com.project.ecommerce.dto.VendorStatisticDto">
        SELECT buyQuantity, productIncome, op.productId, content, productName FROM
            (SELECT COALESCE(SUM(buyQuantity),0) AS buyQuantity, COALESCE(SUM(buyQuantity*price),0) AS productIncome, productId
             FROM order_products op INNER JOIN (SELECT deliveryDate, id FROM orders WHERE order_status = 'SUCCESS') o ON o.id = op.orderId
             WHERE vendorId = #{vendorId}
             GROUP BY productId) op
                INNER JOIN (SELECT content, productid FROM image WHERE imageOrder = 1) i
                           ON i.productId = op.productId
                INNER JOIN (SELECT productName, id FROM product) p ON p.id = op.productId
        ORDER BY productName ASC
    </select>

    <select id="getNumberOrderBasedOnStatus" resultType="Long" fetchSize="200">
        SELECT COUNT(*) FROM orders
        <where>
            <if test="orderStatus != null and orderStatus != ''">
                AND order_status = #{orderStatus}
            </if>
            <if test="transporterId != null and transporterId != ''">
                AND transporterId = #{transporterId}
            </if>
            <if test="customerId != null and customerId != ''">
                AND customerId = #{customerId}
            </if>
        </where>
        ORDER BY orderDate DESC
    </select>

    <select id="getOrderStatus" resultType="String">
        SELECT order_status FROM orders
        WHERE id = #{orderId}
    </select>
</mapper>