<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.ProductMapper">
    <resultMap id="ProductResultMap" type="com.project.ecommerce.form.ProductForm">
        <id property="productId" column="id" />
        <result property="productName" column="product_name"/>
        <result property="description" column="product_description"/>
        <result property="brand" column="product_brand"/>
        <result property="SKU" column="product_SKU"/>
        <result property="size" column="product_size"/>
        <result property="color" column="product_color"/>
        <result property="subjectAge" column="product_subjectAge"/>
        <result property="material" column="product_material"/>
        <result property="categoryId" column="categoryId"/>
        <result property="subCategoryId" column="subCategoryId"/>
        <result property="vendorId" column="vendorId"/>
        <result property="quantity" column="product_quantity"/>
        <result property="price" column="product_price"/>
        <result property="rating" column="product_rating"/>
        <result property="createdBy" column="createdBy"/>
        <result property="origin" column="product_origin"/>
    </resultMap>

    <select id="getAllCategory" resultType="com.project.ecommerce.dto.CategoryDto" fetchSize="200">
        SELECT * FROM category
    </select>

    <select id="getALLSubCategory" resultType="com.project.ecommerce.dto.SubCategoryDto" fetchSize="200">
        SELECT * FROM sub_category
    </select>

    <insert id="insertProduct" parameterType="com.project.ecommerce.dto.ProductDto" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO product
        ( product_name, product_description, categoryId, subCategoryId, product_brand,
         product_SKU,product_origin, createdBy, list_price)
        VALUES
        (#{productName,jdbcType=VARCHAR},
         #{description,jdbcType=VARCHAR},
         #{categoryId,jdbcType=INTEGER},
         #{subCategoryId,jdbcType=INTEGER},
         #{brand,jdbcType=VARCHAR},
         #{SKU,jdbcType=VARCHAR},
         #{origin,jdbcType=VARCHAR},
         #{createdBy,jdbcType=BIGINT},
         #{listPrice,jdbcType=BIGINT});
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <insert id="insertVendorProduct" parameterType="com.project.ecommerce.dto.VendorProductDto">
        INSERT INTO vendor_product
        ( vendorId, productId, product_quantity, product_price, product_rating, product_size, product_color, product_subjectAge, product_material)
        VALUES
        (#{vendorId,jdbcType=BIGINT},
         #{productId,jdbcType=BIGINT},
         #{quantity,jdbcType=BIGINT},
         #{price,jdbcType=BIGINT},
         #{rating,jdbcType=INTEGER},
         #{size,jdbcType=VARCHAR},
         #{color,jdbcType=VARCHAR},
         #{subjectAge,jdbcType=VARCHAR},
         #{material,jdbcType=VARCHAR});
    </insert>

    <select id="getAllProductByVendorId" resultMap="ProductResultMap" fetchSize="200">
        SELECT * FROM vendor_product
        LEFT JOIN product p on vendor_product.productId = p.id
        WHERE vendorId = #{vendorId}
    </select>

    <select id="getVendorProduct" resultMap="ProductResultMap" fetchSize="200">
        SELECT * FROM vendor_product
        LEFT JOIN product p on vendor_product.productId = p.id
        WHERE productId = #{productId}
    </select>

    <update id="updateProduct" parameterType="com.project.ecommerce.form.ProductForm">
        UPDATE product
        SET product_name = #{productName},
            product_description = #{description},
            product_brand = #{brand},
            product_SKU = #{SKU},
            list_price = #{listPrice},
            categoryId = #{categoryId},
            subCategoryId = #{subCategoryId}
        WHERE id = #{productId} and createdBy = #{vendorId}
    </update>

    <update id="updateVendorProduct" parameterType="com.project.ecommerce.form.ProductForm">
        UPDATE vendor_product
        SET product_quantity = #{quantity},
            product_price = #{price},
            product_size = #{size},
            product_color = #{color},
            product_subjectAge = #{subjectAge},
            product_material = #{material}
        WHERE productId = #{productId};
    </update>

    <select id="getAllProduct" parameterType="map" resultMap="ProductResultMap" fetchSize="200">
        SELECT * FROM product p
        INNER JOIN
            ( SELECT *
              FROM vendor_product
              ORDER BY product_rating DESC, product_price ASC
            ) vp ON p.id = vp.productId
        <where>
            <if test="categoryId != null">
                AND categoryId = #{categoryId}
            </if>
            <if test="subCategoryId != null">
                AND subCategoryId = #{subCategoryId}
            </if>
            <if test="keyword != null">
                AND product_name LIKE #{keyword}
            </if>
        </where>
        ORDER BY RAND()
        LIMIT 100
    </select>

    <select id="getProductDetail" resultMap="ProductResultMap" fetchSize="200">
        SELECT * FROM product p
        INNER JOIN vendor_product vp on p.id = vp.productId
        WHERE p.id = #{productId}
        AND vp.vendorId = #{vendorId}
    </select>

    <resultMap id="VendorResultMap" type="com.project.ecommerce.form.VendorProductForm">
        <result property="vendorId" column="vendorId"/>
        <result property="productId" column="productId"/>
        <result property="quantity" column="product_quantity"/>
        <result property="price" column="product_price"/>
        <result property="rating" column="product_rating"/>
        <result property="fullName" column="vendor_name"/>
    </resultMap>

    <select id="getVendorListByProduct" resultMap="VendorResultMap" fetchSize="200">
        SELECT vendorId, productId, product_quantity, product_price, product_rating, vendor_name FROM vendor_product vp
        INNER JOIN vendor_info vi ON vp.vendorId = vi.id
        WHERE productId = #{productId}
    </select>

    <insert id="saveProductImage" parameterType="com.project.ecommerce.dto.ProductImageDto" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO image
        ( name, productId, content)
        VALUES
        (#{name,jdbcType=VARCHAR},
        #{productId,jdbcType=BIGINT},
        #{content,jdbcType=BLOB});
    </insert>
</mapper>