<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.ProvinceMapper">
    <select id="getAllProvince" resultType="com.project.ecommerce.dto.ProvinceDto" fetchSize="200">
        SELECT * FROM province
    </select>

    <select id="fillProvinceByKeyword" resultType="com.project.ecommerce.dto.ProvinceDto" fetchSize="200">
        SELECT * FROM province WHERE _name LIKE '%#{name}%'
    </select>

</mapper>