<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.dao.UserMapper">
    <select id="getAllUser" resultType="com.project.ecommerce.dto.UserDto" fetchSize="200">
        SELECT * FROM users
    </select>

    <select id="findUserByUserName" resultType="com.project.ecommerce.dto.UserDto" fetchSize="200">
        SELECT * FROM users WHERE username = #{user_name}
    </select>

    <select id="findUserByEmail" resultType="com.project.ecommerce.dto.UserDto" fetchSize="200">
        SELECT * FROM users WHERE email = #{email}
    </select>
    <insert id="createUser" parameterType="com.project.ecommerce.dto.UserDto" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO users
        (username, password, fullname, role, email, province)
        VALUES
        (#{userName,jdbcType=VARCHAR},
         #{password,jdbcType=VARCHAR},
         #{fullName,jdbcType=VARCHAR},
         #{role,jdbcType=VARCHAR},
         #{email,jdbcType=VARCHAR},
         #{province,jdbcType=VARCHAR});
    </insert>
    <update id="updateUser" parameterType="com.project.ecommerce.dto.UserDto">
        UPDATE users
        SET
            fullname = #{fullName},
            email = #{email},
            province = #{province},
            gender = #{gender}
        WHERE username = #{userName}
    </update>
    <delete id="deleteUser" parameterType="String">
        DELETE FROM users WHERE username = #{userName}
    </delete>
</mapper>

