<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:include="/common/_header"></th:block>
<h2>Choose Category</h2>

<form th:action="@{/addProduct/detail}" th:object="${productForm}" th:method="POST">
    <div>
        <div>Category</div>
        <select id="category-select" th:field="*{categoryId}">
            <option value="0" selected disabled ></option>
            <option th:each="category : ${categorys}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </div>
    <div>
        <div>Sub category</div>
        <select id="sub-category-select" th:field="*{subCategoryId}">
            <option value="0" selected disabled ></option>
            <option th:each="subCategory : ${subCategorys}" th:value="${subCategory.id}" th:text="${subCategory.name}"></option>
        </select>
    </div>
    <button th:type="submit" th:text="Submit"></button>
</form>
</body>
</html>