<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Register</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>
<main>
	<div class="container-fluid">
		<div class="row">
			<th:block sec:authorize="hasRole('VENDOR')" th:include="/common/_vendor-sidebar-menu"></th:block>
			<th:block sec:authorize="hasRole('ADMIN')" th:include="/common/_admin-sidebar-menu"></th:block>
			<th:block sec:authorize="hasRole('USER')" th:include="/common/_customer-sidebar-menu"></th:block>
			<div class="col-lg-8">
				<div class="row mb-4">
					<h3 class="text-lg-left mt-lg-2">Change password</h3>
				</div>
				<div th:replace="fragments/template :: display-error-message"/>
				<form name="register" th:object="${passwordForm}" th:action="@{/user/update/password/change}" method="post"
				      autocomplete="off">
					<input autocomplete="false" name="hidden" type="text" style="display:none;">
					<div class="form-row">
						<div class="form-group col-4">
							<label for="userName">Username</label>
							<input class="form-control" id="userName" type="text" th:value="*{userName}" disabled>
							<input type="hidden" th:field="*{userName}">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-4">
							<label for="oldPassword">Current password</label>
							<input class="form-control" id="oldPassword" type="password" th:field="*{oldPassword}"
							       placeholder="Enter current password" autocomplete="chrome-off"
							       th:classappend="${(#fields.hasErrors('oldPassword')?'is-invalid':'')
                                   + (!#fields.hasErrors('oldPassword') and passwordForm.isSubmitted() ? 'is-valid':'')}">
							<label class="invalid-feedback" th:if="${#fields.hasErrors('oldPassword')}"
							       th:errors="*{oldPassword}"></label>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-4">
							<label for="newPassword">Password</label>
							<input class="form-control" id="newPassword" type="password" th:field="*{newPassword}"
							       placeholder="Enter new password" autocomplete="chrome-off"
							       th:classappend="${(#fields.hasErrors('newPassword')?'is-invalid':'')
                                   + (!#fields.hasErrors('newPassword') and passwordForm.isSubmitted() ? 'is-valid':'')}">
							<label class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}"
							       th:errors="*{newPassword}"></label>
						</div>
						<div class="form-group col-4">
							<label for="confirmPassword">Confirm password</label>
							<input class="form-control" id="confirmPassword" type="password" th:field="*{confirmPassword}"
							       placeholder="Enter confirm password" autocomplete="chrome-off"
							       th:classappend="${(#fields.hasErrors('confirmPassword')?'is-invalid':'')
                                   + (!#fields.hasErrors('confirmPassword') and passwordForm.isSubmitted() ? 'is-valid':'')}">
							<label class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}"
							       th:errors="*{confirmPassword}"></label>
						</div>
					</div>
					<input type="hidden" th:field="*{userId}">
					<button type="submit" th:text="Change" class="btn btn-primary"></button>
				</form>
			</div>
		</div>
	</div>
</main>
<th:block th:include="/common/_footer"></th:block>
</body>
</html>