<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Security Hello</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>
<h2>Spring Boot Security Hello</h2>
<h3><p th:text="${message}"></p></h3>
<form name='login-form' th:action="@{/j_spring_security_login}" method='POST'>
    <table>
        <tr>
            <td>Username:</td>
            <td><input type='text' id="username" name='username' value='' autofocus="autofocus" placeholder="username"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' id="password" name='password' autocomplete="off" placeholder="password"/></td>
        </tr>
        <tr>
            <td>Remember Me:</td>
            <td><input type="checkbox" name="_spring_security_remember_me" autocomplete="off"/></td>
        </tr>
        <tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
<!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
</form>
</body>
</html>