<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
    <title>Successfully registered</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>
<h2>You have successfully registered!</h2>
<div th:if="${user != null}">
    <ul>
        <li>User Name: <span th:utext="${user.userName}">..</span></li>
        <li>Email: <span th:utext="${user.email}">..</span></li>
    </ul>
</div>
</body>
</html>