<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
    <title>Register</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>
<h2>Create Account</h2>
<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>
<form name="register" th:object="${user_form}" th:action="@{/saveUser}" method="post" autocomplete="off">
    <table>
        <tr>
            <td>Username</td>
            <td><input th:field="*{userName}" type='text'></td>
            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>
        </tr>
        <tr>
            <td>Fullname</td>
            <td><input th:field="*{fullName}" type='text'></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input th:field="*{email}" type='text'></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input th:field="*{password}" type='password'></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td>Confirm password</td>
            <td><input th:field="*{confirmPassword}" type='password'></td>
            <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select th:field="*{gender}">
                    <option th:value="'M'" th:text="Male"></option>
                    <option th:value="'F'" th:text="Female"></option>
                    <option th:value="'O'" th:text="Other"></option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></td>
        </tr>
    </table>
    <button type="submit" th:text="Submit"></button>
</form>
</body>
</html>