<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
    <title>Order success</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>
    <div class="container">
        <div class="row" style="padding-top: 100px;">
            <div class="col">
                <div class="justify-content-center d-flex mb-5">
                    <img th:src="@{/images/check.png}" th:if="${isSuccess}" style="max-height: 40px;">
                    <img th:src="@{/images/fail.png}" th:unless="${isSuccess}" style="max-height: 40px;">
                    <span class="pt-1 pb-1 ml-2" th:text="${message}" style="font-size: 20px"></span>
                </div>
                <div class="justify-content-center d-flex">
                    <a class="btn btn-primary btn-lg" th:href="@{/}" role="button" th:if="${isSuccess}">Back to home</a>
                    <a class="btn btn-danger btn-lg" th:href="@{/}" role="button" th:unless="${isSuccess}">Try Again</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>