<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})"></head>
<title th:text="${productForm.productName}"></title>
<body>
<th:block th:include="/common/_header"></th:block>
<script type="text/javascript" th:src="@{/js/customer/viewProductDetail.js}"></script>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/customer/viewProductDetail.css}" href="../../css/customer/viewProductDetail.css">
<h2 th:text="${productForm.productName}"></h2>

<form th:action="@{/viewProductDetail}" th:object="${productForm}" th:method="POST">
    <div>
        <label>Category:</label>
        <span th:type="text" th:readonly="true" th:field="*{categoryId}"></span>
    </div>
    <div>
        <label>SubCategory:</label>
        <span th:type="text" th:readonly="true" th:field="*{subCategoryId}"></span>
    </div>
    <div>
        <label>Product name:</label>
        <span type="text" name="productName" th:field="*{productName}"></span>
    </div>
    <div>
        <label>Brand:</label>
        <span type="text" name="brand" th:field="*{brand}"></span>
    </div>
    <div>
        <label>SKU:</label>
        <span type="text" name="SKU" th:field="*{SKU}"></span>
    </div>
    <div>
        <label>Size:</label>
        <span type="text" name="size" th:field="*{size}"></span>
    </div>
    <div>
        <label>Color:</label>
        <span type="text" name="color" th:field="*{color}"></span>
    </div>
    <div>
        <label>Age:</label>
        <span type="text" name="subjectAge" th:field="*{subjectAge}"></span>
    </div>
    <div>
        <label>Material:</label>
        <span type="text" name="material" th:field="*{material}"></span>
    </div>
    <div>
        <label>price:</label>
        <span type="text" name="price" th:field="*{price}"></span><span id="%"></span>
        <span type="text" name="listPrice" th:field="*{listPrice}"></span>
    </div>
    <div>
        <label>quantity:</label>
        <span type="text"  th:text="*{quantity}"></span>
    </div>
    <div>
        <label>Description:</label>
        <span type="text" name="description" th:text="*{description}"></span><br>
    </div>
    <table>
        <tbody>
        <tr th:each="vendor: ${vendorList}">
            <td>
                <div th:unless="${vendor.vendorId eq vendorId}">
                    <a th:href="@{/viewProductDetail(productId = ${vendor.productId}, vendorId = ${vendor.vendorId})}" th:text="${vendor.fullName}"></a>
                    <span th:value="${vendor.price}"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/template :: change-quantity(0, ${productForm.quantity})"></div>
    <input type="hidden" name="vendorId" id="vendorId" th:value="*{vendorId}">
    <input type="hidden" name="productId" id="productId" th:value="*{productId}">
    <input type="hidden" name="quantity" id="quantity" th:value="*{quantity}">
    <input id="btn-submit" type="button" value="Buy" onclick="addProductToCart()">
</form>
</body>
</html>