<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Product list</title>
	<script type="text/javascript" th:src="@{/js/viewProductList.js}"></script>
</head>
<!--    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/viewProductList.css}" href="../../css/viewProductList.css">-->
<body>
<th:block th:include="/common/_header"></th:block>
<main class="my-5 py-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<div class="list-group">
					<!--    <div th:each="category,iterationStatus : ${categories}">-->
					<div class="list-group-item border-0" th:each="category,iterationStatus : ${categories}"
					     th:id="'dropbtn'+${iterationStatus.count}">
<!--						<a th:href="@{/product/view/byCategory(categoryId = ${category.id}, subCategoryId = 0)}"-->
<!--						   th:text="${category.name}"></a>-->
						<a th:onclick="|javascript:loadSearchResultCategory(${category.id},null)|"
						   th:text="${category.name}" href=""></a>
						<script th:inline="javascript">
                            /*<![CDATA[*/
                            $('#dropbtn' + id).hover(function () {
                                showSubCategoryMenu(/*[[${iterationStatus.count}]]*/'');
                            })
                            /*]]>*/


                            /*<![CDATA[*/
                            /*]]>*/
						</script>
						<div class="list-group">
							<div class="list-group-item border-0"
							     th:classappend="'show-content'+${iterationStatus.count}"
							     th:each="subCategory : ${category.subCategoryForms}">
<!--								<a th:href="@{/product/view/byCategory(categoryId = ${category.id}, subCategoryId = ${subCategory.id})}"-->
<!--								   th:text="${subCategory.name}"></a>-->
								<a href="" th:onclick="|javascript:loadSearchResultCategory(${category.id},${subCategory.id})|"
								   th:text="${subCategory.name}"></a>
							</div>
						</div>
					</div>
					<!--    </div>-->
				</div>
			</div>
			<div class="col-lg-8">
				<div th:replace="fragments/template :: search-bar-custom"></div>
				<div id="content">
					<div th:replace="fragments/template :: customError"></div>
					<div th:replace="fragments/template :: table-product-grid-custom"></div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
<script type="text/javascript" th:src="@{/js/viewProductList.js}"></script>
</html>