<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Order</title>
</head>
<body>
<th:block th:include="/common/_header"></th:block>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<h2>Admin Page > Order</h2>
		</div>
	</div>
	<div class="row">
		<th:block th:include="/common/_admin-sidebar-menu"></th:block>
		<div class="col-lg-8">
			<div th:replace="fragments/template :: display-error-message"/>
			<table class="table table-bordered" id="dtBasicExample">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Code order</th>
					<th scope="col">Order date</th>
					<th scope="col">Order status</th>
					<th scope="col">Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="order,iStat  : ${orderFormList}">
					<th scope="row" th:text="${iStat.count}"></th>
					<td ><a th:text="${order.orderDspId}" th:href="@{/admin/order/detail(orderId = ${order.id})}"></a></td>
					<td th:text="${order.orderDate}"></td>
					<td th:text="${order.orderStatus}"></td>
					<td class="d-flex">
<!--						<form th:action="@{/admin/order/update}" method="post" th:object="${orderForm}" class="mr-1"-->
<!--						      th:if="${order.orderStatus eq 'PROGRESSING'}">-->
<!--							<input type="hidden" name="id" th:value="${order.id}">-->
<!--							<input type="hidden" name="orderDspId" th:value="${order.orderDspId}">-->
<!--							<input type="hidden" name="orderStatus" value="READY">-->
<!--							<button type="submit" class="btn btn-primary">Approve</button>-->
<!--						</form>-->

<!--						<form th:action="@{/admin/order/update}" method="post" th:object="${orderForm}"-->
<!--						      th:if="${order.orderStatus eq 'PROGRESSING' or order.orderStatus eq 'DELIVERING' or order.orderStatus eq 'READY'}">-->
<!--							<input type="hidden" name="id" th:value="${order.id}">-->
<!--							<input type="hidden" name="orderDspId" th:value="${order.orderDspId}">-->
<!--							<input type="hidden" name="orderStatus" value="CANCELED">-->
<!--						<a type="submit" class="btn btn-primary" role="button" href=""-->
<!--						   th:data-id="${order.id}"-->
<!--						   th:data-orderDspId="${order.orderDspId}"-->
<!--						   th:data-status="'READY'"-->
<!--						   th:onclick="|javascript:cancelOrder(this.getAttribute('data-id'), this.getAttribute('data-orderDspId'), this.getAttribute('data-status'))|"-->
<!--						   th:classappend="${order.orderStatus ne 'PROGRESSING'}?'disabled':''">Approve</a>-->
<!--							<button type="submit" class="btn btn-danger"-->
<!--							        th:onclick="|javascript:cancelOrder(${order.id}, ${order.orderDspId}, 'CANCELED')|"-->
<!--									th:classappend="${order.orderStatus eq 'CANCELED'}?'disabled':''">Cancel</button>-->
<!--						</form>-->
						<a type="submit" class="btn btn-primary" role="button"
						   th:href="@{/admin/order/update(id=${order.id}, orderDspId=${order.orderDspId}, orderStatus='READY')}"
						   th:classappend="${order.orderStatus ne 'PROGRESSING'}?'disabled btn-outline-primary':''">Approve</a>
						<a type="submit" class="btn btn-danger ml-1" role="button"
						   th:href="@{/admin/order/update(id=${order.id}, orderDspId=${order.orderDspId}, orderStatus='CANCELED')}"
						   th:classappend="${order.orderStatus eq 'CANCELED'}?'disabled btn-outline-danger':''">Cancel</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<form method="get" th:action="@{/admin/orders}" id="reload"></form>
</body>
<script type="text/javascript" th:src="@{/js/admin/order/history.js}"></script>
</html>