<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="admin-sidebarmenu" class="col-lg-2">
	<div class="list-group">
		<a id="manage-account" th:href="@{/admin}" class="list-group-item list-group-item-action">Manage account</a>
		<a id="show-all-product" th:href="@{/product/view/list}" class="list-group-item list-group-item-action">Show all product</a>
		<a id="add-category" th:href="@{/admin/category/add}" class="list-group-item list-group-item-action">Add category</a>
		<a id="show-all-order" th:href="@{/admin/orders}" class="list-group-item list-group-item-action">Show all orders</a>
		<a id="show-all-vendor" th:href="@{/admin/account/vendor}" class="list-group-item list-group-item-action">Show all vendor</a>
		<a id="show-all-transporter" th:href="@{/admin/account/transporter}" class="list-group-item list-group-item-action">Show all transporter</a>
		<a id="add-transporter" th:href="@{/admin/transporter}" class="list-group-item list-group-item-action">Add transporter</a>
		<a id="add-product" th:href="@{/vendor/show/category}" class="list-group-item list-group-item-action">Add product</a>
		<a id="show-all-vendor-product" th:href="@{/vendor/product/view}" class="list-group-item list-group-item-action">Show all vendor product</a>
	</div>
</div>