<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div class="col-lg-2">
	<div class="mb-4">
		<h2 class="d-block text-center">Customer Page</h2>
	</div>
	<div class="list-group">
		<a th:href="@{/user}" class="list-group-item list-group-item-action active">
			Customer Page
		</a>
		<a id="manager-address" th:href="@{/customer/address/manageAddress}"
		   class="list-group-item list-group-item-action">
			Manager address
		</a>
		<a id="update-iformation" th:href="@{/user/update}"
		   class="list-group-item list-group-item-action">
			Update Information
		</a>
		<a id="change-password" th:href="@{/user/update/password}"
		   class="list-group-item list-group-item-action">
			Change password
		</a>
		<a id="view-favorite" th:href="@{/customer/favorite}"
		   class="list-group-item list-group-item-action">
			My Favorite
		</a>
		<a id="view-order-history" th:href="@{/customer/order/history}"
		   class="list-group-item list-group-item-action">
			My Orders
		</a>
	</div>
</div>
</html>