<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/common/_footer.css}"
      href="../../static/css/common/_footer.css">
<footer class="page-footer font-small blue pt-4">
	<!-- Footer Links -->
	<div class="container text-center text-md-left">
		<!-- Grid row -->
		<div class="row">
			<!-- Grid column -->
			<div class="col-md-6 mt-md-0 mt-3">
				<!-- Content -->
				<h5 class="text-uppercase">Nothing special</h5>
				<p style="color: inherit;">Just an e-commerce website design for graduation.</p>
			</div>
			<!-- Grid column -->
			<hr class="clearfix w-100 d-md-none pb-3">
			<!-- Grid column -->
			<div class="col-md-3 mb-md-0 mb-3">
				<!-- Links -->
				<h5 class="text-uppercase">About website</h5>

				<ul class="list-unstyled">
					<li>
						<a href="#!">About website</a>
					</li>
					<li>
						<a href="#!">Help</a>
					</li>
					<li>
						<a href="#!">Contact</a>
					</li>
					<li>
						<a href="#!">Advertisement</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->
			<!-- Grid column -->
			<div class="col-md-3 mb-md-0 mb-3">
				<!-- Links -->
				<h5 class="text-uppercase">Social</h5>

				<ul class="list-unstyled">
					<li>
						<a href="#!"><i class="fab fa-facebook-f"></i> FaceBook</a>
					</li>
					<li>
						<a href="#!"><i class="fab fa-twitter"></i> Twitter</a>
					</li>
					<li>
						<a href="#!"><i class="fab fa-google-plus-g"></i> Google plus</a>
					</li>
					<li>
						<a href="#!"><i class="fab fa-github"></i> Github</a>
					</li>
				</ul>
			</div>
			<!-- Grid column -->
		</div>
		<!-- Grid row -->
	</div>
	<!-- Footer Links -->
	<div class="footer-copyright text-center py-3">© 2020 Copyright:
		<a href="https://hooooooooo.com/"> Nguyen Duc Hoang</a>
	</div>
</footer>