<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="admin-sidebarmenu" class="col-lg-2">
	<div class="mb-4">
		<h2 class="d-block text-center">Transporter Page</h2>
	</div>
	<div class="list-group">
		<a id="show-all-order" th:href="@{/transporter/orders}" class="list-group-item list-group-item-action">Show all orders</a>
		<a id="update-info" th:href="@{/user/update}" class="list-group-item list-group-item-action">Update Information</a>
		<a id="change-password" th:href="@{/user/update/password}" class="list-group-item list-group-item-action">Change password</a>
	</div>
</div>