<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
    <title>Edit address</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>
<h2>Edit Address</h2>
<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form name="edit" th:object="${address_form}" th:action="@{/customer/address/updateAddress}" method="post">
    <table>
        <tr>
            <td>Fullname</td>
            <td><input th:field="*{fullName}" type='text'></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td><input th:field="*{phoneNumber}" type='text'></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
        </tr>
        <tr>
            <div class="custom-select-div">
                <td>City</td>
                <td>
                    <select id="province-select" th:field="*{provinceId}">
                        <option value=''>Select city</option>
                        <option th:each="province : ${province_list}"
                                th:value="${province.id}"
                                th:text="${province.name}"
                                th:selected="${province.id == address_form.provinceId}"></option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('provinceId')}" >
                    <span th:errors="*{provinceId}"></span>
                </td>
            </div>
        </tr>
        <tr>
            <div class="custom-select-div2">
                <td>District</td>
                <td>
                    <select id="district-select" th:field="*{districtId}">
                        <option class="default-option" value=''>Select district</option>
                        <option th:each="district : ${district_list}"
                                th:value="${district.id}"
                                th:text="${district.prefix + ' ' + district.name}"
                                th:attr="data-provinceId=${district.provinceId}"
                                th:selected="${district.id == address_form.districtId}"></option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('districtId')}">
                    <span th:errors="*{districtId}"></span>
                </td>
            </div>
        </tr>
        <tr>
            <div class="custom-select-div3">
                <td>Wards</td>
                <td>
                    <select id="ward-select" th:field="*{wardId}">
                        <option class="default-option" value='' selected="true">Select ward</option>
                        <option th:each="ward : ${ward_list}"
                                th:value="${ward.id}"
                                th:text="${ward.prefix + ' ' + ward.name}"
                                th:attr="data-districtId=${ward.districtId}"
                                th:selected="${ward.id == address_form.wardId}"></option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('wardId')}">
                    <span th:errors="*{wardId}"></span>
                </td>
            </div>
        </tr>
        <tr>
            <td>Detail</td>
            <td>
                <textarea th:field="*{addressDetail}"></textarea>
            </td>
            <td th:if="${#fields.hasErrors('addressDetail')}">
                <span th:errors="*{addressDetail}"></span>
            </td>
        </tr>
    </table>
    <input type="hidden" name="province" id="province" value="">
    <input type="hidden" name="district" id="district" value="">
    <input type="hidden" name="ward" id="ward" value="">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{customerId}">
    <button type="submit" th:text="Submit"></button>
</form>
<script type="text/javascript" th:src="@{/js/customer/addAddressPage.js}"></script>
</body>
</html>