<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head_input(~{::title})">
	<title>Edit address</title>
</head>
<body>
<!-- Include _header.html -->
<th:block th:include="/common/_header"></th:block>
<main>
	<div class="container-fluid">
		<div class="row">
			<th:block th:include="/common/_customer-sidebar-menu"></th:block>
			<div class="col-lg-8">
				<div class="row mb-4">
					<h3 class="text-lg-left mt-lg-2">Edit Address</h3>
				</div>
				<div th:replace="fragments/template :: display-error-message"/>
				<form name="edit" th:object="${address_form}" th:action="@{/customer/address/updateAddress}"
				      method="post">
					<div class="form-row">
						<div class="form-group col-4">
							<label for="fullName">Full name *</label>
							<input class="form-control" id="fullName" type='text'
							       placeholder="Enter full name" th:field="*{fullName}"
							       th:classappend="${(#fields.hasErrors('fullName')?'is-invalid':'')
                                + (!#fields.hasErrors('fullName') and address_form.isSubmitted() ? 'is-valid':'')}">
							<td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></td>
						</div>
						<div class="form-group col-4">
							<label for="phoneNumber">Phone number</label>
							<input class="form-control" id="phoneNumber" th:field="*{phoneNumber}" type='text'
							       placeholder="Enter phonenumber"
							       th:classappend="${(#fields.hasErrors('phoneNumber')?'is-invalid':'')
                                + (!#fields.hasErrors('phoneNumber') and address_form.isSubmitted() ? 'is-valid':'')}">
							<label class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}"
							       th:errors="*{phoneNumber}"></label>
						</div>
					</div>
					<div class="form-row">
						<div class="custom-select-div form-group col-4">
							<label for="province-select">City</label>
							<select class="custom-select" id="province-select" th:field="*{provinceId}">
								<option value=''>Select city</option>
								<option th:each="province : ${provinceList}"
								        th:value="${province.id}"
								        th:text="${province.name}"
								        th:selected="${province.id == address_form.provinceId}"></option>
							</select>
							<label class="invalid-feedback"
							       th:if="${#fields.hasErrors('provinceId')}" th:errors="*{provinceId}">
							</label>
						</div>
						<div class="custom-select-div2 form-group col-4">
							<label for="district-select">District</label>
							<select class="form-control" id="district-select" th:field="*{districtId}">
								<option class="default-option" value=''>Select district</option>
								<option th:each="district : ${district_list}"
								        th:value="${district.id}"
								        th:text="${district.prefix + ' ' + district.name}"
								        th:attr="data-provinceId=${district.provinceId}"
								        th:selected="${district.id == address_form.districtId}"></option>
							</select>
							<label class="invalid-feedback"
							       th:if="${#fields.hasErrors('districtId')}" th:errors="*{districtId}">
							</label>
						</div>
						<div class="custom-select-div3 form-group col-4">
							<label for="ward-select">Wards</label>
							<select class="form-control" id="ward-select" th:field="*{wardId}">
								<option class="default-option" value='' selected="true">Select ward</option>
								<option th:each="ward : ${ward_list}"
								        th:value="${ward.id}"
								        th:text="${ward.prefix + ' ' + ward.name}"
								        th:attr="data-districtId=${ward.districtId}"
								        th:selected="${ward.id == address_form.wardId}"></option>
							</select>
							</td>
							<label class="invalid-feedback"
							       th:if="${#fields.hasErrors('wardId')}" th:errors="*{wardId}">
							</label>
						</div>
					</div>
					<hr class="my-2">
					<div class="form-row">
						<div class="form-group w-75">
							<label for="addressDetail">Detail *</label>
							<p th:classappend="${(#fields.hasErrors('addressDetail')?'border border-danger':'')
	                               + (!#fields.hasErrors('addressDetail') and address_form.isSubmitted() ? 'border border-success':'')}">
							<textarea type="text" class="form-control" id="addressDetail"
							          th:field="*{addressDetail}" placeholder="Enter detail">
							</textarea>
							</p>
							<label class="invalid-feedback"
							       th:errors="*{addressDetail}" th:if="${#fields.hasErrors('addressDetail')}">
							</label>
						</div>
					</div>
					<input type="hidden" name="province" id="province" value="">
					<input type="hidden" name="district" id="district" value="">
					<input type="hidden" name="ward" id="ward" value="">
					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{customerId}">
					<button class="btn btn-primary spinner-btn" type="submit" th:text="'Update address'"></button>
				</form>
			</div>
		</div>
	</div>
</main>
<th:block th:include="/common/_footer"></th:block>
<script type="text/javascript" th:src="@{/js/customer/addAddressPage.js}"></script>
</body>
</html>