<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:include="/common/_header"></th:block>
    <h3 th:text="Sổ địa chỉ"></h3>
    <div  sec:authentication="name"></div>
    <div th:each="address : ${address_list}">
        <div><a th:href="@{/customer/address/manageAddress}"></a></div>
        <div>
            <div  th:text="${address.addressDetail}"></div>
            <div  th:text="${address.phoneNumber}"></div>
            <div></div>
            <div><a th:href="@{/customer/address/edit}"></a></div>
            <div><a th:href="@{/customer/address/delete}"></a></div>5
        </div>
    </div>
</body>
</html>